<!DOCTYPE html>
<html>
<head>
	<title>BoomBattleShip</title>
</head>
<body>
<form method="post" action="/tablero">
	<h1>Bienvenido BoomBattleShip</h1>
	<input type="submit" value="Iniciar">
</form>

</body>
</html>