<!DOCTYPE html>
<html>
<head>
	<title>Tablero</title>
</head>
<body>
<h1>Tablero 2x2</h1>
	<form action="/jugar" method="post">
	<table>
		<tr>
			<td><input type="submit" id="1,1" value=""></td> <td><input type="submit" id="1,2" value=""></td>
		</tr>
		<tr>
			<td><input type="submit" id="2,1" value=""></td> <td><input type="submit" id="2,2" value=""></td>
		</tr>
	</table>
	<h2>B</h2>
	<h2>S</h2>
	</form>
</body>
</html>