<!DOCTYPE html>
<html>
<head>
	<title>Tablero</title>
</head>
<body>
<h1>Tablero 2x2</h1>
	
	<table>
		<tr>
			<td> <input type="text" id="1,1" readonly="true"> <input type="text" id="1,2" readonly="true"></td>
		</tr>
		<tr>
			<td> <input type="text" id="1,2" readonly="true"> <input type="text" id="2,2" readonly="true"></t
		</tr>
	</table>
	<form action="/jugar" method="post">
		<h2>X<input type="text" name="posX"></h2>
		<h2>Y<input type="text" name="posY"></h2>
		<input type="submit" value="Atacar" >
	</form>
	<h2>B</h2>
	<h2>S</h2>
	
</body>
</html>